Builds
cmake-build-debug
.idea/
# VS files
/BounceLFO_SharedCode.vcxproj
/BounceLFO_StandalonePlugin.vcxproj.filters
/BounceLFO_StandalonePlugin.vcxproj.user
/BounceLFO_VST3.vcxproj.filters
/BounceLFO_VST3.vcxproj
/resources.rc
/BounceLFO_StandalonePlugin.vcxproj
/BounceLFO_SharedCode.vcxproj.filters
/x64/Debug/Shared Code/
/x64/Debug/Standalone Plugin/BounceLFO.exe.recipe
/x64/Debug/Standalone Plugin/*.tlog
/x64/Debug/Standalone Plugin/BounceLFO.ilk
/x64/Debug/Standalone Plugin/BounceLFO.pdb
/x64/Debug/Standalone Plugin/BounceLFO_StandalonePlugin.vcxproj.FileListAbsolute.txt
/x64/Debug/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
/x64/Debug/Standalone Plugin/resources.res
/.vs/
/x64/Debug/VST3/*.tlog/
/x64/Debug/VST3/BounceLFO.exp
/x64/Debug/VST3/BounceLFO.lib
/x64/Debug/VST3/BounceLFO.pdb
/x64/Debug/VST3/BounceLFO.vst3.recipe
/x64/Debug/VST3/BounceLFO_VST3.log
/x64/Debug/VST3/BounceLFO.ilk
/x64/Debug/VST3/BounceLFO_VST3.vcxproj.FileListAbsolute.txt
/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj
/x64/Debug/VST3/resources.res
/JuceLibraryCode/
